.form {
  display: flex;
  flex-direction: column;

  h3 {
    border-bottom: 1px solid #1f1f1f;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 143px;
  }

  input,
  select {
    height: 30px;
    margin: 5px 0;
  }

  textarea {
    margin: 5px 0;
  }
}

#searchForm {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    input,
    button {
      border-radius: 0px;
      border: 1px solid #1f1f1f;
      padding: 7px;
    }

    button {
      border-left: 0px;
      cursor: pointer;
    }
  }

  #sortList {
    border: 1px solid #1f1f1f;
    padding: 7px;
  }

  .sort-filter {
    display: flex;
    align-items: center;

    select,
    #filterBox {
      margin-right: 5px;
    }

    .filter-opened .filter-dropdown {
      display: block;
    }

    .filter-closed .filter-dropdown {
      display: none;
    }

    #filterBox {
      padding: 6px;
      width: 160px;
      position: relative;
      border: 1px solid #1f1f1f;
      background-color: #e9e9ed;
      font-size: 14px;
      cursor: pointer;

      p,
      label {
        user-select: none;
      }

      .filter-dropdown {
        position: absolute;
        border: 1px solid #1f1f1f;
        border-bottom: 0px;
        border-top: 0px;
        background-color: #e9e9ed;
        top: 32px;
        left: -1px;
        width: 160px;

        label {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px;
          border-bottom: 1px solid #1f1f1f;
        }
      }
    }
  }
}
