.list-table {
  display: grid;
  max-width: 100%;

  .header-row,
  .list-row,
  .odd-row {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr 1fr;
    padding: 0 5px;
    gap: ;
    text-decoration: none;

    p {
      padding: 7px 0;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .header-row,
  .odd-row {
    background-color: #1f1f1f;
    color: #fff;
  }

  .list-row:hover,
  .odd-row:hover {
    background-color: #ff4500;
    color: #fff;
  }

  .list-row {
    color: #1f1f1f;
  }

  .status-1,
  .status-2,
  .status-3,
  .status-4 {
    font-weight: bold;
  }

  .status-1 {
    color: #ffa500;
  }
  .status-2 {
    color: #ffc400;
  }
  .status-3 {
    color: green;
  }
  .status-4 {
    color: red;
  }
}
