* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  height: 100%;
}

.app-wrapper {
  background-color: #e4eaf2;
  min-height: 100vh;

  .content-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
  }
}
